
<div class="profile-page">
    <h1>PROFILE</h1>
    <div class="user-info">
        <div class="profile-image">
            <img [src]="currentUser.image" alt="user image" class="user-img" />
            <!-- <img src="../../../../assets/img/{{currentUser.image}}" *ngIf="currentUser.image" alt="user image" class="user-img"/> -->
        </div>
        <div class="profile-user">
            <p><strong>Username: </strong>{{ profile.username }}</p>
            <!-- <p><strong>Email: </strong>{{ profile.email }}</p> -->

        </div>
        <div class="profile-bio">
            <p><strong>Biography: </strong>{{ profile.bio }}</p>
        </div>
    </div>
    <div class="user_products" [hidden]="isUser">
        <div class="profile-follow">
            <app-follow-button [profile]="profile" [hidden]="isUser" (toggle)="onToggleFollowing($event)" class="settings-btn"></app-follow-button>
        </div>
        
    </div>
    <div class="user_products" [hidden]="!isUser">
        <div class="profile-buttons">
            <div class="profile-settings">
                <a [routerLink]="['/settings']" [hidden]="!isUser" class="settings-btn">Edit Profile</a>
            </div>
            <div class="profile-logout">
                <a [hidden]="!isUser" class="logout-btn" (click)="logout()">Log out</a>
            </div>
            <div class="profile-logout">
                <a class="nav-link" [hidden]="!isUser" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/profile', profile.username, 'get_followers']">
                Followers
                </a>
            </div>
        </div>
        
        <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
                <li class="nav-item">
                    <a class="nav-link" [hidden]="!isUser" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/profile', profile.username, 'favorites']">
                        Favorited Products
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
        
    <router-outlet></router-outlet>