<div class="details_page">
    <div *ngIf="!product">No product</div>
    <div class="product" *ngIf="product">
        <table>
            <tr>
                <td class="image">
                    <div class="product-image">
                        <app-carousel [images_product]="product_images" [autoSlide]="true" [controls_2]="true"></app-carousel>
                    </div>
                </td>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <td class="info">
                    <div class="product-info">
                        <div class="title">
                            <h3>{{product.name}}</h3>
                            
                        </div>
                        <div class="product-bio">
                            <div class="description"><strong>Description: </strong>{{product.description}}.</div>
                            <div class="category"><strong>Category: </strong>{{product.name_cat}}.</div>
                            <div class="state"><strong>State: </strong>{{product.state}}.</div>
                        </div>
                        
                        <div class="price">
                            <h3 class="price">Price: {{product.price}} €</h3>
                        </div>
                        
                        <div class="author" [routerLink]="['/profile', product.author.username]">
                            <img class="author-avatar" src="{{product.author.image}}">
                            <p>{{product.author.username}}</p>
                        </div>
                        <span [hidden]="!canModify">
                            <a class="btn btn-sm btn-outline-secondary"
                               [routerLink]="['/editor', product.slug]">
                              <i class="ion-edit"></i> Edit Article
                            </a>
                  
                            <button class="btn btn-sm btn-outline-danger"
                              [ngClass]="{disabled: isDeleting}"
                              (click)="deleteArticle()">
                              <i class="ion-trash-a"></i> Delete Article
                            </button>
                          </span>
                        <span [hidden]="canModify">
                            <app-follow-button
                            [product]="product"
                            [profile]="product.author"
                            (toggle)="ToggleFollowing($event)">
                            </app-follow-button>
                            
                            <app-favorite-button class="bi bi-balloon-heart" [product]="product" (toggle)="ToggleFavorite($event)">
                            {{ product.favorited ? 'Unfavorite' : 'Favorite' }} product 
                            
                            <span class="counter">({{ product.favoritesCount }})</span>
                            </app-favorite-button>
                            
                        </span>
                    </div>

                </td>
                <td>
                   
                </td>
            </tr>
        </table>
    </div>

    
    
      <div class="comments-section">
        <app-product-comment *ngFor="let comment of comments" [comment]="comment" (deleteComment)="delete_comment(comment)"></app-product-comment>
        <div class="create-comment" *appShowAuthed="true"> 
            <form (ngSubmit)="create_comment()">
                <div class="comment-new">
                    <div class="comment-avatar-container">
                        <img class="comment-avatar" src={{user_image}}/>
                    </div>
                    <fieldset [disabled]="isSubmitting">
                        <textarea class="comment-textarea" name="enter-comment" placeholder="Write a comment..." [formControl]="commentControl"></textarea>
                        <div class="comment-actions">
                            <button class="post" type="submit">COMMENT</button>
                            <button class="cancel" type="button" (click)="empty_comment()">CANCEL</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
    
    
</div>