<!-- <div class="card">
  <div class="card-block">
    <p class="card-text">
      {{ comment.body }}
    </p>
  </div>
  <div class="card-footer">
    <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
      <img [src]="comment.author.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" alt="author image" class="comment-author-img" />
    </a>
    &nbsp;
    <a class="comment-author" [routerLink]="['/profile', comment.author.username]">
      {{ comment.author.username }}
    </a>
    <span class="date-posted">
      {{ comment.createdAt | date: 'longDate' }}
    </span>
    <span class="mod-options" [hidden]="!canModify">
      <i class="ion-trash-a" (click)="deleteClicked()">delete</i>
    </span>
    
  </div>
</div> -->
<div class="comment initial">
  <div class="comment-avatar-container" [routerLink]="['/profile', comment.author.username]">
      <img class="comment-avatar" src="{{comment.author.image}}"/>
  </div>
  <h2 class="comment-title">Author: {{ comment.author.username }}</h2>
  <p class="comment-text">{{ comment.body }}</p>
  <p class="comment-time-stamp">{{ comment.createdAt | date: 'short'}}</p>
  <div class="comment-delete-icon" *appShowAuthed="true">
      <span class="mod-options" [hidden]="!canModify">
      <i class="fa-solid fa-trash-can" (click)="deleteClicked()">delete</i>
  </span>
  </div>
</div>