.product {
    display: flex;
    justify-content: space-between;
}

.title h3 {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.title p {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 2%;
}

.product-bio {
    display: block;
    line-height: 30px;
}

.author {
    display: block;
    padding-top: 20px;
}

.author-avatar {
    overflow: hidden;
    border: 2px solid #333;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.author p {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

@media screen and (max-width: 576px) {

    .product {
        flex-direction: column;
    }

    .product_img {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    
    .product_img img {
        width: 200px;
        height: 200px;
    }
    
    .product_info {
        display: block;
        width: 100%;
        height: 200px;
        padding: 10px;
        text-align: center;
    }
    
    .title h3 {
        font-size: 18px;
    }
    
    .title p {
        font-size: 18px;
    }
    
    .product-bio {
        font-size: 14px;
        text-align: left;
    }
    
    .product_like {
        display: block;
        margin: auto;
        text-align: center;
        width: 90%;
        margin-top: 15%;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 577px) {

    .product {
        flex-direction: column;
    }

    .product_img {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    
    .product_img img {
        width: 300px;
        height: 300px;
    }
    
    .product_info {
        display: block;
        width: 100%;
        height: 200px;
        padding: 10px;
        text-align: center;
    }
    
    .title h3 {
        font-size: 22px;
    }
    
    .title p {
        font-size: 22px;
    }
    
    .product-bio {
        font-size: 18px;
        text-align: left;
        padding: 20px;
    }
    
    .product_like {
        display: block;
        margin: auto;
        text-align: center;
        width: 90%;
        margin-top: 10%;
        margin-bottom: 3%; 
    }
}

@media screen and (min-width: 993px) {

    .product {
        flex-direction: row;
    }
    
    .product_img {
        display: block;
        width: 200px;
        text-align: center;
        padding: 0px;
    }

    .product_img img {
        display: block;
        width: 200px;
        height: 200px;
        border-radius: 15px 0px 0px 15px;
    }
    
    .product_info {
        display: block;
        width: 60%;
        height: 200px;
        padding: 10px;
        text-align: left;
    }

    .title h3 {
        font-size: 25px;
    }
    
    .title p {
        font-size: 25px;
    }
    
    .product-bio {
        font-size: 18px;
        text-align: left;
        padding: 0px;
    }
    
    .product_like {
        display: block;
        margin: 0;
        text-align: right;
        width: 10%;
        height: 200px;
        padding: 15px;
    }
}