.auth-page {
    min-height: 78vh;
}

.auth-container {
    display: block;
    margin: auto;
    margin-top: 5%;
    padding: 30px;
    border: 4px solid #333;
    border-radius: 15px;
    text-align: center;
}

.title {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    padding-bottom: 20px;
}

#auth-form input {
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

#login_button {
    margin-top: 20px;
}

@media screen and (max-width: 576px) {

    .auth-container {
        width: 90%;
    }

    .title h1 {
        font-size: 20px;
    }
    
    #auth-form input {
        font-size: 16px;
    }
}

@media screen and (min-width: 577px) {

    .auth-container {
        width: 60%;
    }
    
    .title h1 {
        font-size: 24px;
    }
    
    #auth-form input {
        font-size: 20px;
    }

}

@media screen and (min-width: 993px) {

    .auth-container {
        width: 40%;
    }
    
    .title h1 {
        font-size: 25px;
    }
    
    #auth-form input {
        font-size: 22px;
    }
}